.DS_Store
node_modules
dist
lerna-debug.log
e2e-repos
tsconfig.tsbuildinfo
.turbo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/storybook-static/*
**/playwright-report/*
**/playwright/.cache/*
**/storybook-static/*
**/test-results/*

.specstory/*

**/.env